[user]
{{- if eq .profile "work" }}
    name = {{ pass "chezmoi/work/git_user_name" }}
    email = {{ pass "chezmoi/work/git_user_email" }}
    signingkey = {{ pass "chezmoi/work/git_signing_key" }}

{{- else }}
    name = {{ pass "chezmoi/personal/git_user_name" }}
    email = {{ pass "chezmoi/personal/git_user_email" }}

{{- end }}

{{- if eq .profile "work" }}
[http "https://{{ pass "chezmoi/work/gitlab_host_1" }}"]
    proxy = {{ pass "chezmoi/work/gitlab_1_proxy" }}

[https "https://{{ pass "chezmoi/work/gitlab_host_1" }}"]
    proxy = {{ pass "chezmoi/work/gitlab_1_proxy" }}
{{- end }}

[init]
    defaultBranch = main

[core]
	pager = delta

[delta]
    features = side-by-side line-numbers decorations
    navigate = true
    light = false

[interactive]
	diffFilter = delta --color-only

[credential]
    helper = store

[commit]
	gpgsign = true

[tag]
	gpgsign = true

{{- if eq .profile "work" }}
[gpg]
    format = x509

[gpg "x509"]
    program = smimesign.exe

{{- else }}

[gpg]
    format = openpgp
{{- end }}
