{{- if eq .profile "work" }}
Include {{ pass "chezmoi/work/ssh_include_path_1" }}
{{- end }}

Host *
    AddKeysToAgent yes
    IdentitiesOnly yes
    IdentityAgent $SSH_AUTH_SOCK
    PubkeyAuthentication yes
    PreferredAuthentications publickey,password
	TCPKeepAlive yes
	ServerAliveInterval 30
	ServerAliveCountMax 10
	StrictHostKeyChecking no
	ControlMaster auto
	ControlPersist 4h
    ControlPath ~/.ssh/mux-%h
	Include config.d/*
